body {
  margin: 0 auto;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
}
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #f2f7f8;
  background-image: url('../img/header-bg.jpg');
  background-repeat: repeat;
  background-position: 0 0;
}
.page-header_top-line {
  width: 100%;
  margin-bottom: 45px;
  background-color: #293449;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.top-line-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-header .logo {
  width: 220px;
  margin-right: 10px;
  font-size: 0;
  line-height: 40px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}
.page-header .logo:hover,
.page-header .logo:focus {
  background-color: #ca2c37;
}
.page-header .logo:active {
  background-color: #ba2732;
}
.logo img {
  vertical-align: middle;
}
.search-form {
  width: 260px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}
.search-form .search {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}
.search-form .search:hover {
  background-color: #212a3a;
}
.search-form .search:focus {
  background-color: #ffffff;
}
.search-form .search:active {
  background-color: #293449;
}

input[type="search"]:focus::-webkit-input-placeholder { color: #000000; }
input[type="search"]:focus:-ms-input-placeholder { color: #000000; }
input[type="search"]:focus::-ms-input-placeholder { color: #000000; }
input[type="search"]:focus::placeholder { color: #000000; }

.search-form button {
  font-size: 0;
  border: none;
}
.bookmarks, 
.basket {
  width: 140px;
  margin-right: 10px
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  background-color: #293449;
}
.bookmarks:hover,
.basket:hover,
.bookmarks:focus,
.basket:focus {
  background-color: #212a3a;
}
.bookmarks:active,
.basket:active {
  background-color: #161d29;
}
.checkout {
  width: 150px;
  padding: 14px 20px;
  margin-right: 0;
  font-family: 'Cuprum', 'Arial', sans-serif; 
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #5fbb2d;
}
.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}
.checkout:active {
  background-color: #518534;    
}

/********
 * header-center
 ********/
.page-header_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 44px;
}
.page-header h1 {
  width: 320px;
  margin-right: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}
address {
  width: 270px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.page-header_center .telephone {
  width: 170px;
  padding: 13px 52px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: left;
  color: #e9292a;
  border: 3px solid #ffffff;
}
.page-header_center .address {
  width: 270px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #32425c;
}
.account-menu {
  width: 280px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.log-in,
.sign-in {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}
.log-in:hover,
.log-in:focus,
.sign-in:hover,
.sign-in:focus {
  color: #ee3643;
}
.log-in:active,
.sign-in:active {
  color: rgba(0, 0, 0, 0.3);
}
/*
*
* main menu 
*
*/

.page-header_navigation {
}
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: #32425c;
}
.inner-page main {
  margin: 0 auto;
}
.main-menu a {
  padding: 22px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus {
  background-color: #293149;
}
.main-menu a:active {
  background-color: #1d2439;
}

/****
 *
 *
 *  promo block
 *
 * ****/

.promo-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 53px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.promo_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo_list-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}
.promo_list-item:nth-child(3n) {
  margin-right: 0;
}

.promo_list-item:first-child {
  order: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffbf47;
}
.promo_list-item:nth-child(2) {
  order: 2;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #3bbce3;
}
.promo_list-item:nth-child(3) {
  order: 3;
  margin-right: 0;
  background-color: #dc91d8;
}
.promo_list-item:nth-child(4) {
  order: 5;
  align-self: flex-start;
  margin-bottom: 20px;
  margin-right: 0;
  background-color: #8ed78f;
}
.promo_list-item:nth-child(5) {
  order: 6;
  margin-bottom: 20px;
  margin-right: 0;
  align-self: flex-end;
  background-color: #ffc047;
}
.promo_list-item .new {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  text-transform: none;
  color: #ffffff;
  background-color: #ee3643;
}
.promo_list-item a.link-promo {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 2px;
}
.promo_list-item a:hover,
.promo_list-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo_list-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo_list .slider {
  width: 620px;
  height: 266px;
  order: 4;
  align-self: flex-start;
  margin-right: 20px;
  overflow: hidden;
}
.slider-list {
  list-style: none;
  background-color: #4c3c37;
}
.slider-list h3 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.slider-list span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.slider-list-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
}
.slider-list-item a:hover,
.slider-list-item a:focus {
  background-color: #ca2c37;
}
.slider-list-item a:active {
  background-color: #ba2732;
}
.slider .button {
  font-size: 0px;
  color: #000000;
  border: none;
}

/************/
/* populars  */
/************/

.popular-products {
  margin-bottom: 21px;
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}
.popular-products h2,
.popular-brands h2 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}
.popular-products a.all-popular-products,
.popular-brands a.all-popular-brands {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
}
.popular-products .all-popular-products:hover,
.popular-products .all-popular-products:focus,
.popular-brands a.all-popular-brands:hover, 
.popular-brands a.all-popular-brands:focus  {
  background-color: #ca2c37;
}
.popular-products .all-popular-products:active,
.popular-brands a.all-popular-brands:active {
  background-color: #ba2732;
}
.popular-products ul,
.popular-brands ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.products_list li {
  width: 220px;
  height: 318px;
  margin-right: 20px;
  outline:  1px solid #eaeaea;
}
.products_list li:nth-child(4n) {
  margin-right: 0;
}
.products_list li:hover,
.products_list li:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}
.product_item {
  margin-right: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
p.visually-hidden button[name="buy"] {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #63a63e;
}
p.visually-hidden button[name="buy"]:hover,
p.visually-hidden button[name="buy"]:focus {
  background-color: #5fbb2d;
}
p.visually-hidden button[name="buy"]:active {
  background-color: #518534;
}

p.visually-hidden button[name="bookmark"] {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  border-radius: 3px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}
p.visually-hidden button[name="bookmark"]:hover,
p.visually-hidden button[name="bookmark"]:focus {
  border-color: #32425c;
}
p.visually-hidden button[name="bookmark"]:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}
.old-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #999999;
}
.new-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}
.popular-brands li {
  width: 220px;
  height: 145px;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 0;
  outline: 1px solid #e5e5e5;
}
.popular-brands li:nth-child(4n) {
  margin-right: 0;
}
.popular-brands img {
  text-align: center;
  vertical-align: middle;
}
.popular-brands li:hover,
.popular0brands li:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.popular-brands li:active {
  background-color: #ffffff;
  box-shadow: 0 10px 4px 0 rgba(41, 52, 73, 0.5);
}
.services {
  width: 100%;
  display: flex;
  background-color: #f3f8f9;
}
.services h2 {
  margin-top: 65px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.services p {
  width: 400px;
  margin-bottom: 74px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.services .slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-slide-buttons {
  display: flex;
  flex-direction: column;
}
.service-button {
  width: 240px;
  height: 60px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
}
.service-button:hover,
.service-button:focus {
  color: #ffffff;
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
}
.service-button:active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff,
        inset 0 1px 0 0 #ffffff;
}
.slider-content {
  width: 690px;
  height: 261px;
  overflow: hidden;
}
.slider-content-list {
  width: 690px;
  height: 261px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.slider-content-list li {
  width: 690px;
  height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.left-column {
}
.slider-content-list img {
  margin-right: 140px;
}
.slider-content-list h3 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  color: #32425c;
}
.slider-content-list p {
  width: 265px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.slider-content-list .take-credit {
  font-family: 'Cuprum', 'Arail', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff5357;
}
.contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}
.about-us {
  width: 520px;
}
.contacts {
  width: 300px;
}
.about-us_title,
.contact-us {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.about-us p,
.contact-us p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.logistics-list {
  list-style: none;
}
.logistics-list li {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.about-us .button,
.button_write-us {
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
}
.button_write-us {
  border: none;
}
.map-service_link {
  font-size: 0;
}
/* **********
 *   footer
 * *********** */

.page-footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}
.footer-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-footer .footer-logo {
  width: 220px;
  align-self: flex-start;
  font-size: 0;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  border-bottom: inset -5px solid rgba(0, 0, 0, 0.24);
}
.page-footer .footer-logo:hover,
.page-footer .footer-logo:focus {
  background-color: #ca2c37;
  border-bottom: inset -5px solid rgba(0, 0, 0, 0.24);
}
.page-footer .footer-logo:active {
  background-color: #ba2732;
  border-bottom: inset -5px solid rgba(0, 0, 0, 0.24);
}
.footer-navigation {
  width: 600px;
  margin-top: 40px;
}
.footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-menu li {
  margin-left: 60px;
}
.footer-menu a {
  font-family: inherit;
  text-decoration: none;
  color: #f1f5f7;
}
.footer-menu a:hover,
.footer-menu a:focus {
  border-bottom: 2px solid #f1f5f7;
}
.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
}
.page-footer .address {
  width: 325px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-align: left;
}
.product-menu_navigation {
  width: 580px;
}
.product-menu_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-menu_list li {
  margin-left: 60px;
}
.product-menu_list a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffd180;
}
.product-menu_list a:hover,
.product-menu_list a:focus {
  border-bottom: 2px solid #ffd180;
}
.product-menu_list a:active {
  color: rgba(255, 209, 128, 0.5);
}
.footer-bottom {
  background-color: #293449;
}
.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  width: 300px;
  margin-right: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}
.social_list {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  list-style: none;
}
.social_list li {
  margin-right: 4px;
}
.social_list a {
  padding: 12px;
  color: transparent;
  background-color: #212a3a;
  border-radius: 50%;
}
.social_list .vk {
  background-color: #212a3a;
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social_list .facebook {
  background-color: #212a3a;
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social_list .instagram {
  background-color: #212a3a;
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social_list a:hover,
.social_list a:focus {
  background-color: #ee3643;
}
.social_list a:active {
  background-color: #ee3643;    
}
.footer-feedback {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.feedback_mail {
  margin-right: 50px;
}
.feedback_mail b,
.produced-by b {
  color: #ffffff;
}
.feedback_mail a,
.produced-by a {
  text-decoration: none;
  color: #ffd180;
}
.feedback_mail a:hover,  
.feedback_mail a:focus,
.produced-by a:hover, 
.produced-by a:focus {
  border-bottom: 2px solid #ffd180;
} 
.feedback_mail a:active,
.produced-by a:active {
  color: #ee3643;
}
.modal-map img {
  box-shadow: 0 0 3px 2px rgba(0, 0,0 , 0.2);
}
.modal-feedback {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-feedback label {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.modal-feedback input,
.modal-feedback textarea {
  border-radius: 2px;
  border: 2px solid #a9a9a9;
  background-color: #ffffff;
}
.modal-feedback :placeholder {
  font-family: 'PT Sans', 'Arail', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: left;
  color: #a9a9a9;
}
.feedback-bottom {
  background-color: #f4f4f4;
}
.feedback-button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #ee3643;
}
.feedback-button:hover,
.feedback-button:focus {
  background-color: #ca2c37;
}
.feedback-button:active {
  background-color: #ba2732;
}

/***********
 * catalog
 ***********/

.page-header .basket {
  background-color: #ee3643;
}
.page-header_center p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}
.user-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-account {
  background-color: #ffffff;
}
.user-name {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.account-menu {
  width: 250px;
  align-self: flex-start;
  list-style: none;
}
.account-menu a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #32425c;
  border-bottom: 2px solid #32425c;
}
.account-menu a:hover,
.account-menu a:focus {
  color: #ee3643;
  border-color: #ee3643;
}
.account-menu a:active {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs a {
  padding-right: 41px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

/*********
 * filter
 *
 *********/

.catalog-heading {
  margin-bottom: 20px;
  padding: 32px 30px 34px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #32425c;
  background-color: #f1f6f8;
}
.catalog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.filters {
  width: 220px;
  margin-right: 20px;
}
.filters h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 13px 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: none;
}
.range-container {
  width: 220px;
  height: 80px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}
.output output {
  min-width: 95px;
  min-height: 38px;
  margin-right: 30px;
} 
.range-output-max {
  margin-right: 0;
}
.range-container,
.range-output-min,
.range-output-max {
  background-color: #f7f3ec;
}
.filters legend {
  margin-bottom: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}
.filters label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
button.filter_show {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
.catalog-items {
  width: 700px;
}
.sorting-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.sorting-menu h2 {
  width: 300px;
  margin: 0;
  margin-right: 20px;
  padding: 13px 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.sorting-list {
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-right: 15px;
}
.btn-sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}
.btn-sort:hover,
.btn-sort:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.btn-sort:active {
  color: #ee3643;
  border: none;
}
.btn-up, 
.btn-down {
  opacity: 0.2;
}
.btn-up:hover,
.btn-up:focus,
.btn-down:hover,
.btn-down:focus {
  opacity: 1;
}
.btn-up:active,
.btn-down:active {
  background-color: #ee3643;
}
.products_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.products_list .catalog-item {
  margin-bottom: 20px;
  margin-right: 20px;
}
.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}
.inner-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}
.paggination {
  list-style: none;
}
.paggination a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
.paggination a:hover,
.paggination a:focus {
  border-color: #bdc6ca;
}
.paggination a:active {
  border-color: #ee3643;
}
.paggination_current-button a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}
.about-drills {
  width: 100%;
  margin-bottom: 0;
  background-color: #f1f6f8;
}
.about-drills h2 {
  padding-top: 65px;
  margin-bottom: 40px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.about-drills p {
  margin: 0;
  padding-bottom: 70px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  text-align: left;
  color: #000000;
}
.modal-cart-added {
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}
.modal-cart-added p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
}
.modal-bottom {
  background-color: #f4f4f4;
}
.modal-checkout {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}
.modal-checkout:hover,
.modal-checkout:focus {
  border-color: #ca2c37;
  background-color: #ca2c37;
}
.modal-checkout:active {
  border-color: #ba2732;
  background-color: #ba2732;
}
.continue-shopping {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.continue-shopping:hover,
.continue-shopping:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}
.continue-shopping:active {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

