.page-footer {
  width: 100%;
  margin: 0;
  margin-top: 86px;
  padding: 0;
  background-color: #32425c;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.footer-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-header-left-col {
  width: 330px;  
  margin-right: 60px;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  margin: 0;
  margin-bottom: 27px;
  background-color: #ee3643;
  text-align: center;
  line-height: 63px;
  vertical-align: middle;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}

.footer-logo svg {
  width: 138px;
  height: 23px;
  vertical-align: middle;
}

.footer-header-left-col .address {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.footer-header-right-col {
  width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 18px;
  line-height: 24px;
}

.footer-header-right-col .footer-navigation {
  width: 550px;  
  margin: 0;
  margin-top: 37px;
  padding: 0;
}

.footer-navigation .footer-menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation li {
  margin: 0;
  padding: 0;
}

.footer-navigation a {
  text-decoration: none;
  color: #ffffff;
}

.product-menu_navigation {
  width: 525px;
  margin: 0;
  margin-top: 34px;
  padding: 0;
}
.product-menu_navigation .product-menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-menu_list li {
  margin: 0;
  padding: 0;
}

.product-menu_list a {
  text-decoration: none;
  color: #ffd180;
}

.footer-bottom {
  width: 100%;
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .copyright {
  width: 320px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .social_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}

.social_list li {
  margin-left: 4px;
}

.social_list a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  box-sizing: border-box;
}

.social_list .vk {
  padding: 20px;
  background-image: url('img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social_list .facebook {
  padding: 20px;
  background: url('img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social_list .instagram {
  padding: 20px;
  background: url('img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-bottom .footer-feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 375px;
  margin: 0;
  padding: 0;
}

.footer-feedback p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback b {
  font-weight: normal;
}

.footer-feedback a {
  display: block;
  text-decoration: none;
  color: #ffd180;
}

.footer-feedback .produced-by {
  margin-left: 50px;
  margin-right: 15px;
}
