.search {
  position: relative;
  display: flex;
      flex-wrap: wrap;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.search__input {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  padding-left: 49px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;

}

.search__input::-webkit-input-placeholder,
.search__input::-moz-placeholder,
.search__input:-moz-placeholder,
.search__input:-ms-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search__input:hover {
  background-color: #212a3a;
  opacity: 1;
}

.search__input:hover::-webkit-placeholder,
.search__input:hover::-moz-placeholder,
.search__input:hover:-moz-placeholder,
.search__input:hover:-ms-placeholder {
  opacity: 1;
}

.search__input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search__input:active {
  background-color: #293449;
}

.search__button {
  position: absolute;
  top: 0;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 17px;
  min-height: 17px;
  margin-top: 12px;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  opacity: 0.3;
}

.search:hover ~ .search__button {
  opacity: 1;
}

.search:focus ~ .search__button {
  opacity: 1;
}

.search ~ .search__button:focus {
  outline: thin dotted #ffffff;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.search__button path {
  fill: #ffffff;
}

.search__input:focus ~ .search__button path {
  fill: var(--primary-color);
}
