@import "variables.css";
@import "global.css";
@import "header.css";
@import "logo.css";
@import "search.css";
@import "basket.css";
@import "checkout.css";
@import "menu.css";
@import "main.css";
@import "product.css";
@import "brands.css";
@import "promo.css";
@import "slider.css";

.account-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-menu li {
  margin: 0;
  padding: 0;
}

.log-in,
.sign-in {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 25px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.log-in::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 14px;
  background-image: url('../img/icon-login.svg');
  background-position: 0 0;
  background-color: transparent;
  opacity: 0.3;
}

.log-in:hover::before {
  opacity: 1;
}

.log-in:hover,
.log-in:focus,
.sign-in:hover,
.sign-in:focus {
  color: #ee3643;
}

.log-in:active::before {
  opacity: 0.3;
}

.log-in:active,
.sign-in:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-in {
  width: 121px;
  margin-right: 10px;
  padding: 13px 25px 13px 47px;

}

.sign-in {
  width: 150px;
  padding: 13px 25px 13px;

}

.popular-brands {
  margin-bottom: 60px;
}

.brands-list-item {
  width: 218px;
  height: 145px;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 145px;
  font-size: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.brands-list-item a {
  font-size: 0;
}

.brands-list-item:nth-child(4n) {
  margin-right: 0;
}

.brands-list-item img {
  text-align: center;
  vertical-align: middle;
}

.brands-list-item:hover,
.brands-list-item:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-item:active {
  background-color: #ffffff;
  box-shadow: 0 10px 4px 0 rgba(41, 52, 73, 0.5);
}

.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f3f8f9;
  margin-bottom: 50px;
}

.services h2 {
  margin-top: 65px;
  margin-bottom: 27px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.services p {
  width: 400px;
  margin-bottom: 68px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.services-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.services-slider-controls {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: column;

}

.services-slider-controls::after {
  position: absolute;
  top: -50px;
  right: -20px;
  content: "";
  width: 10px;
  height: 279px;
  background: url('../img/layer-118.png') no-repeat 0 0;
  padding: 0 10px;
}

.service-button {
  display: block;
  width: 240px;
  padding: 15px 22px 16px 21px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
  transition: all 0.3s ease-in;
}

.service-button:not(.services__active):hover,
.service-button:not(.services__active):focus {
  color: #ffffff;
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
}

.service-button:focus {
  outline: thin dotted #ffffff;
  outline: 5px auto -webkit-focus-ring-color;
}

.services-slider-content {
  width: 690px;
  height: 261px;
  overflow: hidden;
}

.slider-content-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 690px;
  height: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-content-list::after {
  content: "";
  display: block;
}

.content-list-item {
  width: 690px;
  height: 270px;
  padding-left: 70px;
  display: none;
}

.delivery-content {
  background: url('../img/delivery.png') no-repeat 220px 24px;
}

.assurance-content {
  background: url('../img/assurance.png') no-repeat 270px 0px;
}

.credit-content {
  background: url('../img/credit.png') no-repeat 190px 0px;
}

.services-slide-hide {
  display: none;
}

.services__active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff,
        inset 0 1px 0 0 #ffffff;
  outline: thin dotted #ffffff;
  outline: 5px auto -webkit-focus-ring-color;
}

.content-list-item h3 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.content-list-item p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.content-list-item:nth-child(1) p {
  width: 275px;
}

.content-list-item:nth-child(2) p {
  width: 380px;
}

.content-list-item:nth-child(3) p {
  width: 279px;
}

.content-list-item .take-credit {
  display: block;
  width: 195px;
  margin: 0;
  margin-top: 30px;
  padding: 10px 0;
  font-family: 'Cuprum', 'Arail', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ff5357;

}

.credit-content .take-credit:hover,
.credit-content .take-credit:focus {
  background-color: #ca3c37;
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.credit-content .take-credit:active {
  background-color: #ba2732;
}

.contacts-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}

.modal-map-big {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin: -223px -470px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 999;
}
.modal-map-big img {
  width: 100%;
  height: auto;
}
.map-wrapper {
  position: relative;
}

.modal-map-big iframe {
  position: absolute;
  top: -2px;
  left: -2px;
  margin: 0;
  padding: 0;
}

.modal-cart-added .modal-close,
.map-wrapper .modal-close,
.modal-feedback .modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  text-indent: -1000px;
  border: none;
  background: url('../img/icon-close.svg') no-repeat 0 0;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 300px;
}

.about-us_title,
.contact-us {
  margin-bottom: 26px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.contacts p {
  margin-bottom: 30px;
}

.about-us p:nth-child(2) {
  margin-bottom: 24px;
}

.logistics-list {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  list-style: none;
}

.logistics-list li {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.logistics-list li::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.map-service {
  width: 300px;
  height: 158px;
  margin-bottom: 42px;
}

.about-us .button,
.button_write-us {
  display: block;
  padding: 9px 40px;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  cursor: pointer;

}

.about-us .button:hover,
.button_write-us:hover,
.about-us .button:focus,
.button_write-us:focus {
  background-color: #ca2c37;
}

.about-us .button:active,
.button_write-us:active {
  background-color: #ba2732;
}

.about-us .button {
  max-width: 220px;
}

.button_write-us {
  width: 100%;
  margin: 0;
  border: none;
}

.map-service_link {
  font-size: 0;
}

/* **********
 *   footer
 * *********** */

.page-footer {
  width: 100%;
  margin: 0;
  margin-top: 87px;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}

.inner-page .page-footer {
  margin-top: 0;
}

.footer-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer-header-left-col {
  width: 330px;
  margin-right: 60px;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  margin: 0;
  margin-bottom: 27px;
  background-color: #ee3643;
  text-align: center;
  line-height: 63px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);

}

.page-footer .footer-logo:hover,
.page-footer .footer-logo:focus {
  background-color: #ca2c37;
}

.page-footer .footer-logo:active {
  background-color: #ba2732;
}

.footer-logo svg {
  width: 138px;
  height: 23px;
  vertical-align: middle;
}

.footer-header-left-col .address {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

.footer-header-right-col {
  width: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 18px;
  line-height: 24px;
}

.footer-header-right-col .footer-navigation {
  width: 550px;
  margin: 0;
  margin-top: 37px;
  padding: 0;
}

.footer-navigation .footer-menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .footer-navigation {
  margin-top: 37px;
}

.footer-navigation li {
  margin: 0;
  padding: 0;
}

.footer-navigation a {
  text-decoration: none;
  color: #ffffff;
}

.footer-menu_list a:hover,
.footer-menu a:focus {
  border-bottom: 2px solid #f1f5f7;
}

.footer-menu_list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.product-menu_navigation {
  width: 525px;
  margin: 0;
  margin-top: 34px;
  padding: 0;
}

.product-menu_navigation .product-menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-menu_list li {
  margin: 0;
  padding: 0;
}

.product-menu_list a {
  text-decoration: none;
  color: #ffd180;
}

.product-menu_list a:hover,
.product-menu_list a:focus {
  border-bottom: 2px solid #ffd180;
}

.product-menu_list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-bottom {
  width: 100%;
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .copyright {
  width: 320px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .social_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}

.social_list li {
  margin-left: 4px;
}

.social_list a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;

}

.social_list a:hover,
.social_list a:focus {
  background-color: #ee3643;
}

.social_list a:active {
  background-color: #ee3643;
}

.social_list .vk {
  padding: 20px;
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social_list .facebook {
  padding: 20px;
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social_list .instagram {
  padding: 20px;
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-bottom .footer-feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 375px;
  margin: 0;
  padding: 0;
}

.footer-feedback p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback b {
  font-weight: normal;
}

.footer-feedback a {
  display: block;
  text-decoration: none;
  color: #ffd180;
}

.footer-feedback .produced-by {
  margin-left: 50px;
  margin-right: 15px;
}

.feedback_mail:hover a,
.feedback_mail a:focus,
.produced-by:hover a,
.produced-by a:focus {
  box-shadow: 0 2px 0 0 #ffd180;
}

.feedback_mail a:active,
.produced-by a:active {
  color: #ee3643;
}

.modal-map img {
  box-shadow: 0 0 3px 2px rgba(0, 0,0 , 0.2);
}
.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 423px;
  margin: -210px -310px;
  font-family: 'PT Sans', 'Arail', sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: left;
  color: #a9a9a9;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);

  z-index: 1000;
}

.feedback-form {
  width: 460px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.user-name-column,
.user-email-column {
  width: 220px;
  margin-top: 48px;
  margin-bottom: 20px;
}

.user-name-column {
  margin-right: 20px;
}

.textarea-column {
  width: 460px;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  border: 2px solid #d7dcde;

}

.feedback-form input:hover {
  border-color: #b5b5b5;
}

.feedback-form input:focus {
  border-color: #ee3643;
}

.textarea-column textarea {
  width: 100%;
  height: 114px;
  margin-bottom: 35px;
  padding: 10px 13px;
  border-radius: 3px;
  border: 2px solid #d7dcde;

}

.textarea-column textarea:hover {
  border-color: #b5b5b5;
}

.textarea-column textarea:focus {
  border-color: #ee3643;
}

.feedback-form-bottom {
  width: 100%;
  background-color: #dee3e4;
}

.feedback-button {
  display: block;
  width: 460px;
  padding: 12px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.feedback-button:hover,
.feedback-button:focus {
  background-color: #ca2c37;
}

.feedback-button:active {
  background-color: #ba2732;
}

.modal {
  display: none;
}

@keyframes scaled {
  0% {transform: scale(0) translateX(400px);}
  10% {transform: scale(0) translateX(350px);}
  25% {transform: scale(0) translateX(300px);}
  35% {transform: scale(0.35) translateX(250px);}
  50% {transform: scale(0.5) translateX(200px);}
  65% {transform: scale(0.65) translateX(150px);}
  75% {transform: scale(0.75) translateX(100px);}
  90% {transform: scale(0.90) translateX(50px);}
  100% {transform: scale(1) translateX(0);}
}

.modal-show {
  display: block;
  animation-name: scaled;
  animation-duration: 0.3s;
  transition: all 0.3s linear;
}

@keyframes shake {
  0%, 15%, 25%, 35%, 45%, 55%,
  65%, 75%, 85%, 95%, 100% { transform: rotate(0);}
  10%, 30%, 50%, 70%, 90% { transform: rotate(-3deg);}
  20%, 40%, 60%, 80% { transform: rotate(3deg);}
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.3s;
}

/***********
 * catalog
 ***********/

.page-header_center p {
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.user-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.user-account {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 299px;
  height: 45px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;
}

.user-name {
  position: relative;
  padding: 0;
  padding-left: 46px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.user-name::before {
  position: absolute;
  top: 0;
  left: 13px;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.button_logout {
  position: relative;
  width: 20px;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  background-color: transparent;
  cursor: pointer;
}

.button_logout::before {
  position: absolute;
  top: 0px;
  right: 10px;
  content: "";
  width: 20px;
  height: 17px;
  background: url('../img/icon-logout.svg') no-repeat 0 0;
  opacity: 0.3;
}

.user-account .user-name:hover::before,
.user-account .button_logout:hover::before,
.user-account .user-name:focus::before,
.user-account .button_logout:focus::before {
  opacity: 1;
}

.user-account .user-name:active,
.button_logout:active::before {
  opacity: 0.2;
}

.inner-page .account-menu {
  width: 229px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
}

a.user-profile,
a.my-purchases {
  position: relative;
  padding-top: 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #32425c;
  border-bottom: 2px solid #32425c;
}

a.my-purchases::after {
  position: absolute;
  top: 12px;
  right: -23px;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #32425c;
}

.account-menu a:hover,
.account-menu a:focus {
  color: #ee3643;
  border-color: #ee3643;
}

.account-menu a:active {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 41px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.breadcrumbs a::after {
  position: absolute;
  top: 2.5px;
  right: 12px;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs li:first-child a::after {
  top: -10px;
  right: 15px;
}

.breadcrumbs li:last-child a::after {
  background: none;
}

.breadcrumbs  a.home {
  position: relative;
  padding-right: 50px;
  font-size: 0;
  text-indent: -1000px;
}

.breadcrumbs  a.home::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  width: 14px;
  height: 12px;
  background: url('../img/icon-home.svg') no-repeat 0 0;
}

/*********
 * filter
 *
 *********/

.catalog-heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f1f6f8;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 8px 19px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}

.product-filter fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.price-fieldset {
  margin-bottom: 30px;
}

fieldset.checkboxes {
  margin-bottom: 20px;
}

fieldset.supplies {
  margin-bottom: 56px;
}

.price-fieldset::after,
fieldset.checkboxes::after {
  position: absolute;
  bottom: -14px;
  left: 0;
  content: "";
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

fieldset.checkboxes::after {
  bottom: -3px;
}

.price-range {
  margin-bottom: 50px;
  background-color: #f7f3ec;
}

.range-container {
  width: 220px;
  height: 80px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  font-size: 0;
}

.price-controls input {
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 8px 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #283136;
  border: none;
  background-color: #f7f3ec;

}

.max-price {
  margin-right: 0;
}

.product-filter legend {
  margin-bottom: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.product-filter label {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.checkbox-label::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  background: url('../img/checkbox-off.svg') no-repeat 0 0;
}

.product-filter input[type="checkbox"]:checked + .checkbox-label::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background: url('../img/checkbox-on.svg') no-repeat 0 0;
}

.product-filter input[type="radio"] + .radio-label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background: url('../img/radio-off.svg') no-repeat 0 0;
}

.product-filter input[type="radio"]:checked + .radio-label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background: url('../img/radio-on.svg') no-repeat 0 0;
}

.product-filter input + label::before {
  opacity: 0.7;
}

.product-filter input[type="checkbox"]:hover + label::before {
  opacity: 1;
}

.checkboxes input[type="checkbox"]:focus + .checkbox-label::before,
.supplies input[type="radio"]:focus + .radio-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.product-filter input:disabled + label {
  opacity: 0.4;
}

.product-filter input:disabled + label::before {
  opacity: 0.3;
}

.product-filter button.filter_show {
  margin: 0;
  padding: 11px 38px 10px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.catalog-items {
  width: 700px;
}

.sorting-menu {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  background-color: #f7f3ec;
}

.sorting-menu h2 {
  width: 220px;
  margin: 0;
  margin-right: 20px;
  padding: 8px 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

}

.sorting-list {
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 15px;

}

.sorting-list li {
  margin: 0;
  padding: 0;
}

.btn-sort {
  display: inline-block;
  margin: 0;
  margin-right: 13px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by-type {
  margin-left: 20px;
}

.sort-by-functionality {
  margin-left: 30px;
}

.btn-sort:hover,
.btn-sort:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.btn-sort:active {
  color: #ee3643;
  border: none;
}

.btn-up,
.btn-down {
  font-size: 0;
  text-indent: -1000px;
}

.btn-up svg,
.btn-down svg {
  width: 11px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.btn-up path,
.btn-down path {
  opacity: 0.2;
}

.btn-up:hover path,
.btn-up:focus path,
.btn-down:hover path,
.btn-down:focus path {
  opacity: 1;
}

.btn-up:active path,
.btn-down:active path {
  fill: #ee3643;
}

.btn-up:active,
.btn-down:active {
  background-color: #ee3643;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-list-item {
  position: relative;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  border:  1px solid #eaeaea;
}

.products-list-positioner {
  margin: 0;
  margin-left: -20px;
  margin-bottom: -20px;
  padding: 0;
}

.inner-page .products-list-item {
  margin-left: 20px;
}

.paggination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.paggination li {
  margin: 0;
  padding: 0;
}

.paggination li:last-child {
  margin-right: 0;
}

.paggination a {
  display: block;
  margin: 0;
  padding: 10px 15px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.paggination a:hover,
.paggination a:focus {
  border-color: #bdc6ca;
}

.paggination a:active {
  border-color: #ee3643;
}

.paggination_current-button a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.about-drills {
  width: 100%;
  margin-bottom: 0;
  background-color: #f1f6f8;
}

.about-drills h2 {
  padding-top: 65px;
  margin-bottom: 26px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.about-drills p {
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #000000;
}

/**  popups   **/

.modal-cart-added {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 282px;
  margin: -148px -310px;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  z-index: 1000;
}

.modal-cart-added p {
  position: relative;
  margin: 0;
  width: 460px;
  margin-top: 70px;
  padding: 0;
  padding-left: 98px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.modal-cart-added p:before {
  position: absolute;
  top: -19.5px;
  left: 80px;
  content: "";
  width: 66px;
  height: 66px;
  background: url('../img/form-1.svg') no-repeat 0 0;
}

.modal-cart-added .modal-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 35px 0;
  background-color: #f4f4f4;
}

.modal-bottom .modal-checkout,
.modal-bottom .continue-shopping {
  display: block;
  width: 220px;
  padding: 10px 40px;
  text-align: center;
}

.modal-cart-added .modal-checkout {
  display: block;
  margin-left: 80px;
  margin-right: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.modal-cart-added .modal-checkout:hover,
.modal-cart-added .modal-checkout:focus {
  border-color: #ca2c37;
  background-color: #ca2c37;
}

.modal-cart-added .modal-checkout:active {
  border-color: #ba2732;
  background-color: #ba2732;
}

.modal-cart-added .continue-shopping {
  display: block;
  margin-right: 80px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.modal-cart-added .continue-shopping:hover,
.modal-cart-added .continue-shopping:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-cart-added .continue-shopping:active {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
